<div class="row">
    <% @users.each do |user| %>
        <% if user != current_user %>
            <div class="col s4">
                <div class="card blue-grey lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title"><%= user.name %></span>
                        <p>
                            <strong>Email:</strong>
                            <%= user.email %>
                        </p>
                    </div>
                    <div class="card-action">
                        <% friendship = Friendship.where(:user_id => current_user.id, :friend_id => user.id) %>
                        <% if friendship.empty? %>
                            <%= link_to "Follow", follow_path(user) %>
                        <% else %>
                            <%= link_to "Unfollow", unfollow_path(friendship.first) %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
